
ProgrammingProject.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProgrammingProject/.vs/ProgrammingProject/v16/.suo
ProgrammingProject/.vs/ProgrammingProject/v16/Server/sqlite3/db.lock
ProgrammingProject/.vs/ProgrammingProject/v16/Server/sqlite3/storage.ide
ProgrammingProject/.vs/ProgrammingProject/v16/Server/sqlite3/storage.ide-shm
ProgrammingProject/.vs/ProgrammingProject/v16/Server/sqlite3/storage.ide-wal
ProgrammingProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProgrammingProject/obj/Debug/ProgrammingProject.csprojAssemblyReference.cache
