
ProgrammingProject.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProgrammingProject/.vs/ProgrammingProject/v16/.suo
ProgrammingProject/.vs/ProgrammingProject/v16/Server/sqlite3/db.lock
ProgrammingProject/.vs/ProgrammingProject/v16/Server/sqlite3/storage.ide
ProgrammingProject/.vs/ProgrammingProject/v16/Server/sqlite3/storage.ide-shm
ProgrammingProject/.vs/ProgrammingProject/v16/Server/sqlite3/storage.ide-wal
ProgrammingProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProgrammingProject/obj/Debug/ProgrammingProject.csprojAssemblyReference.cache
ProgrammingProject/bin/Debug/ProgrammingProject.exe
ProgrammingProject/bin/Debug/ProgrammingProject.exe.config
ProgrammingProject/bin/Debug/ProgrammingProject.pdb
ProgrammingProject/obj/Debug/ProgrammingProject.csproj.FileListAbsolute.txt
ProgrammingProject/obj/Debug/ProgrammingProject.exe
ProgrammingProject/obj/Debug/ProgrammingProject.pdb
ProgrammingProject/ProgrammingProject.sln
ProgrammingProject.Model/obj/Debug/ProgrammingProject.Model.csprojAssemblyReference.cache
ProgrammingProject/packages/EntityFramework.6.4.0/.signature.p7s
ProgrammingProject/packages/EntityFramework.6.4.0/build/EntityFramework.DefaultItems.props
ProgrammingProject/packages/EntityFramework.6.4.0/build/EntityFramework.props
ProgrammingProject/packages/EntityFramework.6.4.0/build/EntityFramework.targets
ProgrammingProject/packages/EntityFramework.6.4.0/build/Microsoft.Data.Entity.Build.Tasks.dll
ProgrammingProject/packages/EntityFramework.6.4.0/build/netcoreapp3.0/EntityFramework.props
ProgrammingProject/packages/EntityFramework.6.4.0/build/netcoreapp3.0/EntityFramework.targets
ProgrammingProject/packages/EntityFramework.6.4.0/buildTransitive/EntityFramework.props
ProgrammingProject/packages/EntityFramework.6.4.0/buildTransitive/EntityFramework.targets
ProgrammingProject/packages/EntityFramework.6.4.0/buildTransitive/netcoreapp3.0/EntityFramework.props
ProgrammingProject/packages/EntityFramework.6.4.0/buildTransitive/netcoreapp3.0/EntityFramework.targets
ProgrammingProject/packages/EntityFramework.6.4.0/content/net40/App.config.install.xdt
ProgrammingProject/packages/EntityFramework.6.4.0/content/net40/App.config.transform
ProgrammingProject/packages/EntityFramework.6.4.0/content/net40/Web.config.install.xdt
ProgrammingProject/packages/EntityFramework.6.4.0/content/net40/Web.config.transform
ProgrammingProject/packages/EntityFramework.6.4.0/EntityFramework.6.4.0.nupkg
ProgrammingProject/packages/EntityFramework.6.4.0/lib/net40/EntityFramework.dll
ProgrammingProject/packages/EntityFramework.6.4.0/lib/net40/EntityFramework.SqlServer.dll
ProgrammingProject/packages/EntityFramework.6.4.0/lib/net40/EntityFramework.SqlServer.xml
ProgrammingProject/packages/EntityFramework.6.4.0/lib/net40/EntityFramework.xml
ProgrammingProject/packages/EntityFramework.6.4.0/lib/net45/EntityFramework.dll
ProgrammingProject/packages/EntityFramework.6.4.0/lib/net45/EntityFramework.SqlServer.dll
ProgrammingProject/packages/EntityFramework.6.4.0/lib/net45/EntityFramework.SqlServer.xml
ProgrammingProject/packages/EntityFramework.6.4.0/lib/net45/EntityFramework.xml
ProgrammingProject/packages/EntityFramework.6.4.0/lib/netstandard2.1/EntityFramework.dll
ProgrammingProject/packages/EntityFramework.6.4.0/lib/netstandard2.1/EntityFramework.SqlServer.dll
ProgrammingProject/packages/EntityFramework.6.4.0/lib/netstandard2.1/EntityFramework.SqlServer.xml
ProgrammingProject/packages/EntityFramework.6.4.0/lib/netstandard2.1/EntityFramework.xml
ProgrammingProject/packages/EntityFramework.6.4.0/tools/about_EntityFramework6.help.txt
ProgrammingProject/packages/EntityFramework.6.4.0/tools/EntityFramework6.PS2.psd1
ProgrammingProject/packages/EntityFramework.6.4.0/tools/EntityFramework6.PS2.psm1
ProgrammingProject/packages/EntityFramework.6.4.0/tools/EntityFramework6.psd1
ProgrammingProject/packages/EntityFramework.6.4.0/tools/EntityFramework6.psm1
ProgrammingProject/packages/EntityFramework.6.4.0/tools/init.ps1
ProgrammingProject/packages/EntityFramework.6.4.0/tools/install.ps1
ProgrammingProject/packages/EntityFramework.6.4.0/tools/net40/any/ef6.exe
ProgrammingProject/packages/EntityFramework.6.4.0/tools/net40/any/ef6.pdb
ProgrammingProject/packages/EntityFramework.6.4.0/tools/net40/win-x86/ef6.exe
ProgrammingProject/packages/EntityFramework.6.4.0/tools/net40/win-x86/ef6.pdb
ProgrammingProject/packages/EntityFramework.6.4.0/tools/net45/any/ef6.exe
ProgrammingProject/packages/EntityFramework.6.4.0/tools/net45/any/ef6.pdb
ProgrammingProject/packages/EntityFramework.6.4.0/tools/net45/win-x86/ef6.exe
ProgrammingProject/packages/EntityFramework.6.4.0/tools/net45/win-x86/ef6.pdb
ProgrammingProject/packages/EntityFramework.6.4.0/tools/netcoreapp3.0/any/ef6.dll
ProgrammingProject/packages/EntityFramework.6.4.0/tools/netcoreapp3.0/any/ef6.pdb
ProgrammingProject/packages/EntityFramework.6.4.0/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/.signature.p7s
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/content/net40/App.config.install.xdt
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/content/net40/App.config.transform
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/content/net40/Web.config.install.xdt
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/content/net40/Web.config.transform
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/EntityFramework.SqlServerCompact.6.4.0.nupkg
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/lib/net40/EntityFramework.SqlServerCompact.dll
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/lib/net40/EntityFramework.SqlServerCompact.xml
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/lib/net45/EntityFramework.SqlServerCompact.dll
ProgrammingProject/packages/EntityFramework.SqlServerCompact.6.4.0/lib/net45/EntityFramework.SqlServerCompact.xml
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/.signature.p7s
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/Content/web.config.transform
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/lib/net40/System.Data.SqlServerCe.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/Microsoft.SqlServer.Compact.4.0.8876.1.nupkg
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/Microsoft.VC90.CRT/msvcr90.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/Microsoft.VC90.CRT/README_ENU.txt
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlceca40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlcecompact40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlceer40EN.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlceme40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlceqp40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlcese40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/Microsoft.VC90.CRT/msvcr90.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/Microsoft.VC90.CRT/README_ENU.txt
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlceca40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlcecompact40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlceer40EN.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlceme40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlceqp40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlcese40.dll
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/SQLCE_EULA_ENU.rtf
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/Install.ps1
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/Uninstall.ps1
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/VS.psd1
ProgrammingProject/packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/VS.psm1
